{% block content %}
<table align="center">
		<thead>
			<th align="center">  Player  </th>
			<th align="center">  Number  </th>
			<th>  Position  </th>
			<th>  Weight  </th>
			<th>  Age  </th>
			<th></th>
			<th>Actions</th>
			<th></th>
			{% for t in object_list %}
				<tr align="center">
					<td>{{ t.name }}</td>
					<td>{{ t.number }}</td>
					<td>{{ t.position }}</td>
					<td>{{ t.weight }}</td>
					<td>{{ t.age }}</td>
					<td> <a href="#" class="btn btn-primary">Detail</a> </td>
				</tr>
			{% endfor %}
			
		</thead>
	</table>
{% endblock %}
